#sidebar{
    position: fixed;
    width: 230px;
    height: 100%;
    left: 0;
    /* padding-top: 10px; */
}
#sidebar .text{
    color: white;
    font-size: 15px;
    font-weight: 900;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1px;
}
nav ul{
    background: #0B7285;
    height: 100%;
    width: 100%;
    list-style: none;
}
nav ul li{
    line-height: 50px;
    
}
nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;

}

nav ul ul li a{
    padding-left: 10px;
    padding-right: 10px;
}
nav ul li a:hover{
    color: rgb(0, 19, 19);
    font-weight: bolder;
    background: #cdf4ff;
    border-radius: 10px;
}
#parameter{
    height: 100%;
}
body{
    padding-left: 10px;
    background-color: #0B7285;
}

#git{
  width:30px;
  height: 30px;
  align-items: center;
  margin-left: 15px;
  margin-top: 9px;
  /* margin-bottom: 10px; */
  /* padding-bottom: 10px; */
}
.juds{
    font-size: 18px;
    margin-top: 15px;
    /* align-items: center; */
    /* text-align: start; */
}
.tbs{
    background-color: #EFF4F3;
    border-radius: 5px;
    align-items: center;
    height: 54px;
    width: 300px;
    color: #0B7285;
    padding-top: 0.5px;
    padding-left: 1px;
    padding-bottom: 2px;
    border-color: #0B7285;
    
}

.nav-link {
    color: rgb(0, 0, 0);
}

.nav-item>a:hover {
    color: green;
}

/*code to change background color*/
.navbar-nav>.active>a {
    background-color: #C0C0C0;
    color: blue;
}

.kecil{
    font-size: 15px;
}
i{
    padding-right: 1px;
}

.button {
    background-color: orange;
    border: none;
    color: white;
    margin-top: 600px;
    margin-left: 10px;
    position: fixed;
    border-radius: 5px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
